.card-p:nth-child(n) {
  position: relative;
  top: -120px;
  margin-top: 10px;
  border-radius: 6px;
}
.card-p:nth-child(1),
.card-p:nth-child(2),
.card-p:nth-child(3),
.card-p:nth-child(4) {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .card-p:nth-child(1),
  .card-p:nth-child(2),
  .card-p:nth-child(3),
  .card-p:nth-child(4) {
    margin-right: 0px;
  }
}

:host ::ng-deep .card-p:nth-child(2), .card-p:nth-child(4) {
  border:  solid 2px #154472;
  background-color: #ffffff;
}


.programs {
  position: relative;
  margin-bottom: 80px;
  border-bottom: solid 1px #e0e0e0;


  .display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}



