<div class="about-us">
  <div class="container">
    <div class="title">
      <h3 >Who we are</h3>
    </div>

    <div class="about">
      <p>The Seventh-day Adventist Church (SDA)[2] is an Adventist Protestant Christian denomination which is distinguished by its observance of Saturday,
      the seventh day of the week in the Christian (Gregorian) and the Hebrew calendar, as the Sabbath,
      its emphasis on the imminent Second Coming (advent) of Jesus Christ, and its annihilationist soteriology.
      </p>
      <p>The denomination grew out of the Millerite movement in the United States during the mid-19th century and it was formally established in 1863.</p>
      <p>Among its co-founders was Ellen G. White, whose extensive writings are still held in high regard by the church.</p>
    </div>
  </div>

</div>
