.about-us {
  margin-top: 100px;
  padding: 90px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  .about {
    padding: 90px 0;
  }

  p {
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
  }
}
