.task-viewer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: 90%;
  border-radius: 5px;

  input.title {
    //text-transform: capitalize;
    font-size: 26px;
    border-radius: 5px 5px 0 0;
  }

  textarea, input[type="text"] {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 19px;

    button {
      height: 42px;
      width: 99px;
      border-radius: 6px;
      //border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .save-btn {
      //background: #11294f;
      //color: white;
      background-color: #2a4f81;
      color: #fff;
      span {
        font-size: medium;
        margin-right: 8.63px;
      }
    }
  }
}

