.gallery {
  background: url('../../assets/1.jpeg') no-repeat center center;
  background-size: cover;
  height: 40vh;
  width: 100%;
  display: flex;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  justify-content: center;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 5;
  margin: 45px 0 0;
  @media (max-width: 768px) {
    margin-top: 70px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    //font-family: 'PT Serif Caption', serif;
    margin-top: 10rem;
    @media (max-width: 768px) {
      margin-top: 2rem;
    }
    @media (orientation: landscape) and (max-width: 1022px) {
      margin-top: 0;
    }

    .social {
      font-size: 20px;
      .facebook {
        margin-right: 0.5rem;
      }
      .facebook, .youtube {
        background-color: #fff;
        padding: 0 4px;
        border-radius: 50%;
      }
    }

    img {
      width:18rem;
      height: 18rem;
      @media (max-width: 768px) {
        width: 12rem;
        height: 12rem;
      }
    }
    .gallery-title {
      font-size: 4rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 5px;
      @media (max-width: 768px) {
        font-size: 2.5rem;
      }
      @media (max-width: 360px) {
        font-size: 2rem;
      }
      @media (orientation: landscape) and (max-height: 750px) {
        display: none;
      }
    }

  }
}

.photo-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 65px;
  &.b {
    padding: 85px 65px;
  }
}

.photos {
  background-color: #222;
  background-image:
    linear-gradient(to right, rgba(255,255,255,.025) 10%, transparent 0),
    linear-gradient(#222, #7e7b7b);
  background-size: .75em 100%, 100% 100%;
  background-attachment: fixed;
  align-items: center;
  padding: 190px 0;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  @media (max-width: 768px) {
    clip-path: polygon(0 5%, 100% 0%, 100% 98%, 0% 100%);
  }

  .photos-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

  }
}

.image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .image-viewer img {
    width: 90%;
    height: 90%;
  }
  .prev-button, .next-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }

  .prev-button:hover, .next-button:hover {
    //z-index: 2;
    background-color: #0056b3;
  }
}



