<div class="programs-section">
  <div class="container">
        <div class="row">
            <div class="col-md-12 align-content-center">
                <div class="programs-title">
                    <h2>Church Programs</h2>
                    <p>Our programs are designed to help you achieve your goals, and get you into the best shape of your life.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="programs-box">
                    <div class="programs-icon">
                      <i class="fa-sharp fa-light fa-book-bible"></i>
                    </div>
                    <h4>Sabbath Worship</h4>
                    <p>Our programs are designed to help you achieve your goals, and get you into the best shape of your life.</p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="programs-box">
                    <div class="programs-icon">
                      <i class="fa-sharp fa-light fa-book-bible"></i>
                    </div>
                    <h4>Monday Youth Meeting</h4>
                    <p>Our programs are designed to help you achieve your goals, and get you into the best shape of your life.</p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="programs-box">
                    <div class="programs-icon">
                      <i class="fa-regular fa-book-bible"></i>
                    </div>
                    <h4>Wednesday Prayers</h4>
                    <p>Our programs are designed to help you achieve your goals, and get you into the best shape of your life.</p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
