<div class="admin container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Programs</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Gallery</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Pastor's Message</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="program">
        <ng-container *ngFor="let program of programs">
          <div class="wrapper">
            <program-card (deleteProgram)="openConfirmDialog(program)" [isAdmin]="true" (click)="onViewProgram(program)" [program]="program"></program-card>
          </div>
        </ng-container>
      </div>
      <span (click)="openCreateNewProgram()" class="material-symbols-outlined add">add_circle</span>
    </div>
    <div class="tab-pane fade gallery" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
<!--      <gallery-item [photo]="photo"></gallery-item>-->
      <div class="program">
        <ng-container *ngIf="showAlbums">
          <ng-container *ngFor="let album of albums">
            <album (click)="onViewAlbum(album)"  [album]="album"></album>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!showAlbums">
          <ng-container *ngFor="let photo of photosByAlbumId">
            <gallery-item [photo]="photo"></gallery-item>
          </ng-container>
        </ng-container>
      </div>
      <span class="material-symbols-outlined add">add_circle</span>
    </div>
    <div class="tab-pane fade message" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="pastor">
        <img class="img-fluid" width="350" src="../../assets/pastor.png">
        <text-editor></text-editor>
      </div>
      <span class="material-symbols-outlined add">add_circle</span>
    </div>
    <popup-modal *ngIf="isViewerOpen" icon="task_alt" title="Program"  (closeModal)="closeViewer($event)">
      <viewer [showFooter]="true" (saveData)="onEditProgram($event)" [item]="currentItem"></viewer>
    </popup-modal>
    <confirm-dialog *ngIf="showConfirmDialog"
                    (closeConfirmDialog)="closeConfirm()"
                    (confirm)="deleteProgram($event)"
                    title="Confirm Choice" description="Are you sure you want to delete?">
    </confirm-dialog>
  </div>
</div>

