<div class="card text-center {{zIndex}}">
  <div *ngIf="isAdmin" class="card-header">
    <span [ngClass]="[program.status == 'inactive'? 'ifInactive' : 'ifActive']" >{{program.status}}</span>
    <span (click)="delete($event)" class="material-symbols-outlined delete" >delete_forever</span>
  </div>

  <h5 class="card-title card-header">
    <span class="material-symbols-outlined">event_available</span>
    {{program.title}}</h5>
  <div class="card-body">
    <p class="card-text">{{program.description}}</p>
  </div>
  <div class="card-footer py-4">
    <span class="material-symbols-outlined">schedule</span>
    {{nextDate}} | {{program.time}}
  </div>
</div>





