<div class="card text-center">
<!--  <div class="card-header">-->
<!--    {{event.day}}-->
<!--  </div>-->
  <img [src]="event.imageUrl" class="card-img-top event-image" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description}}</p>
    <a href="tel:+233245052539" class="btn btn-primary">Call <span class="material-symbols-outlined fas fa-phone"></span></a>
  </div>
  <div class="card-footer text-body-secondary py-4">
    {{nextDate}}
  </div>
</div>





