$primary-color: #327d68;
$accent-color: #f5f5f5;
@import '~node_modules/bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;800;900&family=Public+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element width */
}

input, textarea, button, select {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Inter, sans-serif;
}

body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
  font-family: Oswald, Arial, sans-serif;

}

a {
  text-decoration: none;
}


.title h5 {
  margin: 0;
}

/* Optional styling for additional decorative elements */
.title::before,
.title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #154472;
  margin: 20px 0;
  text-align: center;
}

.ifActive {
  color: #2a4f81!important;
}
.ifInactive {
  color: #e02997 !important;
}
.delete {
  margin-left: 50px;
  margin-bottom: 0;
  font-size: 1.4rem;
  &:hover {
    color: #e02997 !important;
  }
}

