<div class="bible-quotes">
  <div class="quote-box">
    <span class="quote">{{randomBibleQuote.text}} </span>
    <span class="verse">
      <a href="#" target="_blank">
        <span class="book"> {{randomBibleQuote.bookname}}</span>
        <span class="chapter">{{randomBibleQuote.chapter}}:{{randomBibleQuote.verse}}</span>
      </a>
    </span>
  </div>

<!--  <div class="quote-icon">-->
<!--    <img src="../../assets/book.png">-->
<!--&lt;!&ndash;    <span class="material-symbols-outlined">auto_stories</span>&ndash;&gt;-->
<!--  </div>-->
</div>
